h1.techo-header {
    margin-top: 0;
    margin-bottom: 30px;
}

.techo-header {
    display: block;
    padding: 15px 20px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    background-color: rgba(255, 87, 34, 0.84);
}
